<mat-sidenav-container>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item routerLink="/data_portal">
                <mat-icon class="icon">backup_table</mat-icon>
                <span class="label">Data portal</span>
            </a>
            <a mat-list-item routerLink="/status_tracking">
                <mat-icon class="icon">timeline</mat-icon>
                <span class="label">Status tracking</span>
            </a>
            <a mat-list-item routerLink="/phylogeny">
                <mat-icon class="icon">account_tree</mat-icon>
                <span class="label">Phylogeny</span>
            </a>
            <a mat-list-item routerLink="/publications">
                <mat-icon class="icon">article</mat-icon>
                <span class="label">Publications</span>
            </a>
            <a mat-list-item routerLink="/about">
                <mat-icon class="icon">zoom_in</mat-icon>
                <span class="label">About</span>
            </a>
            <a mat-list-item routerLink="/api_documentation">
                <mat-icon class="icon">api</mat-icon>
                <span class="label">API Documentation</span>
            </a>
            <a mat-list-item routerLink="/help">
                <mat-icon class="icon">help</mat-icon>
                <span class="label">Help</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/home">
                    <img src="../../assets/erga_logo.png" class="img-fluid"
                         alt="home">
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li>
                        <a routerLink="/data_portal">
                            <mat-icon class="icon">backup_table</mat-icon>
                            <span class="label">Data portal</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/status_tracking">
                            <mat-icon class="icon">timeline</mat-icon>
                            <span class="label">Status tracking</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/phylogeny">
                            <mat-icon class="icon">account_tree</mat-icon>
                            <span class="label">Phylogeny</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/gis">
                            <mat-icon class="icon">public</mat-icon>
                            <span class="label">Sampling Map</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboards">
                            <mat-icon class="icon">dashboards</mat-icon>
                            <span class="label">Dashboards</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/publications">
                            <mat-icon class="icon">article</mat-icon>
                            <span class="label">Publications</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/about">
                            <mat-icon class="icon">zoom_in</mat-icon>
                            <span class="label">About</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/api_documentation">
                            <mat-icon class="icon">api</mat-icon>
                            <span class="label">API Documentation</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/help">
                            <mat-icon class="icon">help</mat-icon>
                            <span class="label">Help</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
