<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                Powered by
                <br>
                <img src="../../assets/embl_ebi_rgb_2018_4.png"
                     class="img-fluid4">
            </div>
            <div>
                <img src="../../assets/bge.webp" class="img-fluid">
            </div>
            <div>
                <img src="../../assets/eu.webp" class="img-fluid2">
            </div>
            <div>
                <img src="../../assets/sw.webp" class="img-fluid3">
            </div>
            <div>
                <img src="../../assets/ukri.webp" class="img-fluid3">
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
