<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
                Powered by
                <br>
                <img src="../../assets/Australian-Biocommons-Logo.png"
                     class="australian-biocommons-logo">
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <img src="../../assets/Bioplatforms_Australia_Logo.png" class="australian-bioplatforms-logo">
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>

