<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="footer-left">
                Powered by
                <br>
                <img src="../../assets/Australian-Biocommons-Logo.png"
                     class="img-fluid4">
            </div>
            <div class="footer-right">
                <img src="../../assets/Bioplatforms_Australia_Logo.png" class="img-fluid3">
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>

