@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`

@include mat.all-component-typographies();
@include mat.core();

$primary: (
        50 : #fbfdfc,
        100 : #f6faf9,
        200 : #f0f7f5,
        300 : #e9f4f0,
        400 : #e5f1ed,
        500 : #e0efea,
        600 : #dcede7,
        700 : #d8ebe4,
        800 : #d3e8e1,
        900 : #cbe4db,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$accent: (
        50 : #fbf2e1,
        100 : #f5ddb3,
        200 : #efc781,
        300 : #e8b14e,
        400 : #e3a028,
        500 : #de8f02,
        600 : #da8702,
        700 : #d57c01,
        800 : #d17201,
        900 : #c86001,
        A100 : #fff7f1,
        A200 : #ffd9be,
        A400 : #ffbb8b,
        A700 : #ffac71,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$my-primary: mat.m2-define-palette($primary);
$my-accent: mat.m2-define-palette($accent);

$my-theme: mat.m2-define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
));

@include mat.all-component-themes($my-theme);
