<!--<div id="headerContent">-->
<!--    <p>A GENOME ATLAS OF EUROPEAN BIODIVERSITY</p>-->
<!--    <img src="../../assets/erga_banner.jpg" alt="" class="banner">-->
<!--&lt;!&ndash;    <video autoplay muted loop controls playsinline>&ndash;&gt;-->
<!--&lt;!&ndash;      <source src="../../assets/Jellyfish.mp4" type="video/mp4">&ndash;&gt;-->
<!--&lt;!&ndash;      Your browser does not support HTML5 video.&ndash;&gt;-->
<!--&lt;!&ndash;    </video>&ndash;&gt;-->
<!--</div>-->

<div class="hero-image">
    <div class="hero-text">
        <h1>A GENOME ATLAS OF EUROPEAN BIODIVERSITY</h1>
    </div>
</div>
