<br>
<div class="container">
    <div class="item0">
    </div>
    <div class="item1">
        <mat-card class="main-card">
            <mat-card-title class="card-title">Data status</mat-card-title>
            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @if (getStatusCount(aggregations?.biosamples.buckets)) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle('BioSamples - Submitted')"
                                       (click)="onFilterClick('BioSamples - Submitted')"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill fxFlexAlign="center center">
                                <div>
                                    <h4 matLine class="vertical-center">
                                        BioSamples - Submitted</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ getStatusCount(aggregations?.biosamples.buckets) }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }

                    @if (getStatusCount(aggregations?.raw_data.buckets)) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle('Raw Data - Submitted')"
                                       (click)="onFilterClick('Raw Data - Submitted')"
                                       style="cursor: pointer">

                            <div fxLayout="row" fxFlexFill fxFlexAlign="center center">
                                <div>
                                    <h4 matLine class="vertical-center">Raw
                                        Data - Submitted</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ getStatusCount(aggregations?.raw_data.buckets) }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }
                    @if (getStatusCount(aggregations?.assemblies_status.buckets)) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle('Assemblies - Submitted')"
                                       (click)="onFilterClick('Assemblies - Submitted')"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill fxFlexAlign="center center">
                                <div>
                                    <h4 matLine class="vertical-center">
                                        Assemblies - Submitted</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ getStatusCount(aggregations?.assemblies_status.buckets) }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }
                    @if (getStatusCount(aggregations?.annotation_complete.buckets)) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle('Annotation Complete - Done')"
                                       (click)="onFilterClick('Annotation Complete - Done')"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill fxFlexAlign="center center">
                                <div>
                                    <h4 matLine class="vertical-center">
                                        Annotation Complete - Done</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ getStatusCount(aggregations?.annotation_complete.buckets) }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }

                    @if (aggregations?.genome_notes.doc_count) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle('Genome Notes - Submitted')"
                                       (click)="onFilterClick('Genome Notes - Submitted')"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill fxFlexAlign="center center">
                                <div>
                                    <h4 matLine class="vertical-center">
                                        Genome Notes - Submitted</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ aggregations?.genome_notes.genome_count.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="main-card">
            <mat-card-title class="card-title">Symbionts</mat-card-title>
            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (filter of symbiontsFilters; track $index) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle(filter.label + '-' + filter.key)"
                                       (click)="onFilterClick(filter.label + '-' + filter.key)"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ filter.key }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ filter.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>

                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="main-card">
            <mat-card-title class="card-title" fxLayout="row" fxLayoutAlign="start center">
                <span>Projects</span>
                @if (aggregations?.project_name.buckets.length > 5) {
                    <mat-icon
                            (click)="toggleProjects()"
                            style="cursor: pointer; margin-left: 8px;">
                        {{ showAll ? 'remove' : 'add' }}
                    </mat-icon>
                }
            </mat-card-title>

            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (project of (showAll ? aggregations?.project_name.buckets : aggregations?.project_name.buckets.slice(0, 5)); track $index ) {
                        <mat-list-item role="listitem"
                                       style="cursor: pointer"
                                       [style]="checkStyle(convertProjectName(project.key))"
                                       (click)="onFilterClick(convertProjectName(project.key))"
                                      >
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ convertProjectName(project.key) }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ project.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="main-card">
            <mat-card-title class="card-title">
                Phylogeny/{{ currentClass }}
                @if (phylogenyFilters.length !== 0) {
                    <mat-icon (click)="onRefreshClick()"
                              style="cursor: pointer">
                        refresh
                    </mat-icon>
                }
                @if (phylogenyFilters.length !== 0) {
                    <mat-icon (click)="onHistoryClick()"
                              style="cursor: pointer">
                        arrow_circle_left
                    </mat-icon>
                }
            </mat-card-title>

            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (phylogeny_name of aggregations?.taxonomies[currentClass]?.buckets; track $index) {
                        <mat-list-item role="listbox"
                                       style="cursor: pointer"
                                       [style]="checkStyle(phylogeny_name.key)"
                                       (click)="onFilterClick(phylogeny_name.key, true)">
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ phylogeny_name.key }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ phylogeny_name.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>
                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
    </div>


    <div class="item2">
        <h1 style="align-content: center">Status Tracking</h1>
        <div class="example-container mat-elevation-z8">
            @if (isLoadingResults || isRateLimitReached) {
                <div class="example-loading-shade">
                    @if (isLoadingResults) {
                        <mat-spinner></mat-spinner>
                    }
                    @if (isRateLimitReached) {
                        <div class="example-rate-limit-reached">
                            Something went wrong, please try again!
                        </div>
                    }
                </div>
            }

            <div class="example-table-container">
                <div class="filters_div">
                    <mat-chip-set>
                        @for (field of activeFilters; track $index) {
                            <div class="item4">
                                <mat-chip selected (click)="onFilterClick(field)"
                                          style="cursor: pointer; padding: 0; background-color: #e0efea;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 3px"> {{ displayActiveFilterName(field) }}</div>
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-chip>
                            </div>
                        }

                        @if (phylogenyFilters.length > 0) {
                            <div class="item4">
                                <mat-chip selected (click)="removePhylogenyFilters()"
                                          style="cursor: pointer; padding: 0; background-color: #e0efea;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 3px"> {{ displayActiveFilterName(lastPhylogenyVal) }}</div>
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-chip>
                            </div>
                        }

                        @if(activeFilters.length > 0 || phylogenyFilters.length > 0){
                            <div class="item4">
                                <mat-chip selected (click)="refreshPage()"
                                          style="cursor: pointer; padding: 0; background-color: #F08080;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 3px"> Remove all filters</div>
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-chip>
                            </div>
                        }
                    </mat-chip-set>
                </div>

                <br>

                @if (displayProgressBar) {
                    <div style="padding: 15px">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                }

                <div class="download-btn">
                    <button mat-raised-button
                            (click)="downloadFile('metadata')"
                            [disabled]="displayProgressBar"
                            color="accent">
                        Download metadata
                    </button>
                </div>

                <mat-form-field class="search_field">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" [(ngModel)]='searchValue'
                           placeholder="ex. Salmo trutta" #input>
                </mat-form-field>

                <div class="data-table-div">
                    <table mat-table [dataSource]="data" class="data-table"
                           matSort matSortActive="annotation_complete"
                           matSortDisableClear
                           matSortDirection="asc">
                        <!-- Number Column -->
                        <ng-container matColumnDef="organism">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Organism
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <a mat-button
                                   [routerLink]="['/data_portal', row._id]">
                                    {{ row._source.organism }}
                                </a>
                            </td>
                        </ng-container>

                        <!-- Title Column -->
                        <ng-container matColumnDef="commonName">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Common Name
                            </th>
                            <td mat-cell
                                *matCellDef="let row">{{ row._source.commonName }}
                            </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="biosamples">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Metadata submitted
                                to
                                BioSamples
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-chip selected
                                          [style]="getStyle(row._source.biosamples)">
                                    {{ row._source.biosamples }}
                                </mat-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="raw_data">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Raw data submitted
                                to
                                ENA
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-chip selected
                                          [style]="getStyle(row._source.raw_data)">
                                    {{ row._source.raw_data }}
                                </mat-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="assemblies_status">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Assemblies
                                submitted to
                                ENA
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-chip selected
                                          [style]="getStyle(row._source.assemblies_status)">
                                    {{ row._source.assemblies_status }}
                                </mat-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="annotation_complete">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Annotation
                                complete
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-chip selected
                                          [style]="getStyle(row._source.annotation_complete)">
                                    {{ row._source.annotation_complete }}
                                </mat-chip>
                            </td>
                        </ng-container>


                        <tr mat-header-row
                            *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row
                            *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching
                                the filter
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <mat-paginator [length]="resultsLength"
                           [pageSizeOptions]="[15, 50, 100]"
                           aria-label="Select page"
                           showFirstLastButtons></mat-paginator>
        </div>

    </div>
    <div class="item3">

    </div>
</div>
<br>

