<app-banner></app-banner>
<br>

<div class="container">
    <div class-="item1">
        <mat-card class="data_portal">
            <mat-card-title>Data Portal</mat-card-title>
            <mat-card-actions>
                <mat-chip-set aria-label="Statistics">
                    @for (key of projects_keys; track key) {
                        <mat-chip>
                            <button mat-button color="accent"
                                    [routerLink]="['/data_portal']"
                                    [queryParams]="getQueryParams(key)">
                                <span style="color: black; font-weight: normal;">{{ key }}</span>
                                {{ data?.projects[key] }}
                            </button>
                        </mat-chip>
                    }
                </mat-chip-set>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="status_tracking">
            <mat-card-title>Status tracking</mat-card-title>
            <mat-card-actions>
                <mat-chip-set aria-label="Statistics">
                    @for (key of status_keys; track key) {
                        <mat-chip>
                            <button mat-button color="accent"
                                    [routerLink]="['/data_portal']"
                                    [queryParams]="getQueryParams(key)">
                                <span style="color: black; font-weight: normal;">{{ key }}</span>
                                {{ data?.status[key] }}
                            </button>
                        </mat-chip>
                    }
                </mat-chip-set>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class-="item2">
        <mat-card class="phylogeny">
            <mat-card-title>Phylogeny</mat-card-title>
            <mat-card-actions>
                <mat-chip-set aria-label="Statistics">
                    @for (key of phylogeny_keys; track key) {
                        <mat-chip>
                            <button mat-button color="accent"
                                    [routerLink]="['/data_portal']"
                                    [queryParams]="getQueryParams(key, 'phylogeny')">
                                <span style="color: black; font-weight: normal;">{{ key }}</span>
                                {{ data?.phylogeny[key] }}
                            </button>
                        </mat-chip>
                    }
                </mat-chip-set>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>
