<br>
<div class="container">
    <div class="item0">
    </div>
    <div class="item1">
        <mat-card class="main-card">
            <mat-card-title class="card-title">Article Type</mat-card-title>
            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (filter of articleTypeFilters; track $index) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle(filter.label + '-' + filter.key)"
                                       (click)="onFilterClick(filter.label + '-' + filter.key)"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ filter.key }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ filter.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>

                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="main-card">
            <mat-card-title class="card-title">Journal</mat-card-title>
            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (filter of journalFilters; track $index) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle(filter.label + '-' + filter.key)"
                                       (click)="onFilterClick(filter.label + '-' + filter.key)"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ filter.key }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ filter.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>

                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
        <mat-card class="main-card">
            <mat-card-title class="card-title">Publication Year</mat-card-title>
            <mat-card-actions fxFlexAlign="center" style="width: 100%">
                <mat-list role="list" style="width: 100%">
                    @for (filter of pubYearFilters; track $index) {
                        <mat-list-item role="listitem"
                                       [style]="checkStyle(filter.label + '-' + filter.key)"
                                       (click)="onFilterClick(filter.label + '-' + filter.key)"
                                       style="cursor: pointer">
                            <div fxLayout="row" fxFlexFill
                                 fxFlexAlign="center center">
                                <div>
                                    <h4 matLine
                                        class="vertical-center">{{ filter.key }}</h4>
                                </div>
                                <div style="margin-left: auto">
                                    <mat-chip-set>
                                        <mat-chip style="font-size: 10px">
                                            {{ filter.doc_count }}
                                        </mat-chip>
                                    </mat-chip-set>
                                </div>
                            </div>

                        </mat-list-item>
                    }
                </mat-list>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>


    <div class="item2">
        <h1 style="align-content: center">Publications</h1>
        <div class="example-container mat-elevation-z8">
            @if (isLoadingResults || isRateLimitReached) {
                <div class="example-loading-shade">
                    @if (isLoadingResults) {
                        <mat-spinner></mat-spinner>
                    }
                    @if (isRateLimitReached) {
                        <div class="example-rate-limit-reached">
                            Something went wrong, please try again!
                        </div>
                    }
                </div>
            }

            <div class="example-table-container">
                <div class="filters_div">
                    <mat-chip-set>
                        @for (field of activeFilters; track $index) {
                            <div class="item4">
                                <mat-chip selected (click)="onFilterClick(field)"
                                          style="cursor: pointer; padding: 0; background-color: #e0efea;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 3px"> {{ displayActiveFilterName(field) }}</div>
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-chip>
                            </div>
                        }


                        @if(activeFilters.length > 0){
                            <div class="item4">
                                <mat-chip selected (click)="refreshPage()"
                                          style="cursor: pointer; padding: 0; background-color: #F08080;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="margin-right: 3px"> Remove all filters</div>
                                        <mat-icon>close</mat-icon>
                                    </div>
                                </mat-chip>
                            </div>
                        }
                    </mat-chip-set>
                </div>

                <br>

                <mat-form-field class="search_field">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" [(ngModel)]='searchValue'
                           placeholder="ex. Salmo trutta" #input>
                </mat-form-field>

                <div class="data-table-div">
                    <table mat-table [dataSource]="data"
                           matSort matSortActive="pubYear"
                           matSortDisableClear
                           matSortDirection="desc">
                        <!-- Number Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="width: 35%;"
                                mat-sort-header disableClear>Title
                            </th>
                            <!-- Title Column -->
                            <td mat-cell *matCellDef="let row">
                                <a mat-button
                                   [href]="row['_source']['url']"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    <span [innerHTML]="row['_source']['title']"></span>
                                </a>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="journalTitle">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Journal
                            </th>
                            <td mat-cell
                                *matCellDef="let row">{{ getJournalName(row['_source']) }}
                            </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="pubYear">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Publication Year
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{getYear(row['_source'])}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="study_id">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Study ID
                            </th>
                            <td mat-cell *matCellDef="let row">

                                <a mat-button
                                   [href]="'https://www.ebi.ac.uk/ena/browser/view/' + row['_source']['study_id']"
                                   target="_blank" rel="noopener noreferrer">

                                    {{row['_source']['study_id']}}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="organism_name">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>Organism Name
                            </th>
                            <td mat-cell *matCellDef="let row">

                                <a mat-button
                                   [routerLink]="['/data_portal', row['_source']['tax_id']]">
                                    {{ row['_source']['organism_name'] }}
                                </a>

                            </td>
                        </ng-container>


                        <tr mat-header-row
                            *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row
                            *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching
                                the filter
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <mat-paginator [length]="resultsLength"
                           [pageSizeOptions]="[15, 50, 100]"
                           aria-label="Select page"
                           showFirstLastButtons></mat-paginator>
        </div>

    </div>
    <div class="item3">

    </div>
</div>
<br>


